apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-telegram
  namespace: alertmanager
type: Opaque
stringData:
  bot-token: "REPLACE_WITH_TELEGRAM_BOT_TOKEN"
  chat-id: "REPLACE_WITH_TELEGRAM_CHAT_ID"
