# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
tfplan
terraform.tfvars

# Ignorar pasta de builds
/builds/
packer/boot-*/

# Ignorar artefatos do Packer na pasta packer
/packer/*.box
/packer/packer.log

# Ignorar arquivos temporários do Vagrant
.vagrant/
.signing_key.pub

infra/oci/terraform.tfvars
