apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-service
  namespace: {{ app_name }}
  labels:
    app: {{ app_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ app_name }}
  ports:
    - name: http
      port: {{ container_port }}
      targetPort: {{ container_port }}
      protocol: TCP
