---
# Role metadata and dependencies

galaxy_info:
  role_name: {{ role_name }}
  author: homelab
  description: "{{ description }}"
  company: homelab
  license: MIT
  min_ansible_version: "{{ min_ansible_version }}"

  platforms:
    - name: Debian
      versions:
        - bookworm
    - name: Ubuntu
      versions:
        - jammy

  galaxy_tags:
    - homelab

dependencies: []
